.player {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .info {
      display: flex;
      gap: 10px;
  
      div {
        h5 {
          font-size: 18px;
          font-weight: 500;
        }
        p {
          color: rgb(150, 150, 150);
        }
      }
  
      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
    }
  
    audio {
      width: 40%;
    }
  
    .icons {
      display: flex;
      gap: 20px;
      font-size: 20px;
      @include md {
        display: none;
      }
    }
  }
  
  .animate {
    animation: turn 4s infinite linear;
  }
  
  @keyframes turn {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }