@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.loader {
  display: grid;
  place-items: center;
  height: 80%;
}

.audio-player {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 80px;
  background-color: #282828;
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;
}

.album-cover {
  width: 64px;
  height: 64px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 12px;
}

.player-controls {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.song-info {
  margin-bottom: 4px;
}

.song-title {
  font-size: 16px;
  color: #fff;
  margin: 0;
}

.artist {
  font-size: 12px;
  color: #b3b3b3;
  margin: 0;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background-color: #4f4f4f;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  width: 50%;
  height: 100%;
  background-color: #1db954;
  transform-origin: left;
  animation: progress-animation 10s linear infinite;
}

.buttons {
  display: flex;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.play-btn,
.pause-btn {
  font-size: 16px;
  color: #fff;
  margin-right: 8px;
  transition: transform 0.2s ease-in-out;
}

.play-btn:hover,
.pause-btn:hover {
  transform: scale(1.2);
}

@keyframes progress-animation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
aside {
  background: #282828;
  padding: 20px;
  border-radius: 10px;
}
@media (max-width: 1200px) {
  aside {
    padding: 20px 10px;
  }
}
aside figure {
  display: flex;
  align-items: center;
  gap: 10px;
}
aside figure img {
  width: 40px;
}
aside figure span {
  font-size: 25px;
  font-weight: bold;
  color: #1db954;
}
@media (max-width: 992px) {
  aside figure span {
    display: none;
  }
}
aside nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
aside nav a {
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
}
@media (max-width: 992px) {
  aside nav a i {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  aside nav a span {
    display: none;
  }
}
aside nav a:hover {
  background: #1db954;
  color: #121212;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: #282828;
  width: 100%;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #121212;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
}
main header form {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.221);
  border-radius: 5px;
  display: flex;
  max-width: 350px;
  width: 100%;
}
@media (max-width: 768px) {
  main header form {
    max-width: none;
  }
}
main header form input {
  background: transparent;
  outline: none;
  border: none;
  padding: 15px;
  color: rgba(255, 255, 255, 0.78);
  width: 100%;
}
main header form button {
  padding-right: 10px;
}
main header nav {
  display: flex;
  gap: 15px;
}
@media (max-width: 650px) {
  main header nav {
    display: none;
  }
}
main header nav span {
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}
main header nav span:hover {
  color: white;
}
main section {
  flex: 1;
}
@media (max-width: 576px) {
  main section h2 {
    font-size: 17px;
  }
}
main section .list {
  margin-top: 20px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
@media (max-width: 768px) {
  main section .list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.card {
  background: #121212;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.card .card-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card:hover .play {
  bottom: 20px;
  opacity: 1;
}
.card:hover .play i {
  pointer-events: none;
}
.card figure {
  position: relative;
}
.card figure img {
  width: 100%;
  border-radius: 10px;
}
.card figure .play {
  background: #1db954;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: -20px;
  transition: all 0.3s;
  font-size: 23px;
  opacity: 0;
  cursor: pointer;
}
.card figure .play:hover {
  background: #0f6d32;
  scale: 1.1;
  rotate: 360deg;
}

.player {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player .info {
  display: flex;
  gap: 10px;
}
.player .info div h5 {
  font-size: 18px;
  font-weight: 500;
}
.player .info div p {
  color: rgb(150, 150, 150);
}
.player .info img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.player audio {
  width: 40%;
}
.player .icons {
  display: flex;
  gap: 20px;
  font-size: 20px;
}
@media (max-width: 768px) {
  .player .icons {
    display: none;
  }
}

.animate {
  animation: turn 4s infinite linear;
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: rgba(255, 255, 255, 0.78);
  font-family: "Poppins";
  height: 100vh;
  padding: 20px;
  overflow: hidden;
}
@media (max-width: 768px) {
  body {
    padding: 10px;
  }
}
body .layout {
  height: calc(100vh - 120px);
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  body .layout {
    gap: 10px;
  }
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.78);
  white-space: nowrap;
  border-radius: 10px;
  transition: all 0.3s;
}

button {
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.78);
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */